/* .container {
  position: absolute;
} */

/* .body { margin:0px; }

.hidden {
  visibility: collapse;
} */
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
/*   position: relative;
  margin-top: 0px; */
/*   min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto; */
   position: relative;
    height: 100vh;
}

div:before {
    position: absolute;
    content:"test";
    height: 100px;
    width: 100px;
    border-radius: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: purple;
}

.container {
  position: absolute;
  margin-top: -10px;
  background-color: green;
}