/* .container {
  position: absolute;
} */

.body { margin:0px; }

.hidden {
  visibility: collapse;
}
html,
body {
  height: fit;
  background: #e2dede;
  margin: 0px;
}
div {
  width: fit;
  overflow: hidden;
}

.wrapper {
  position: relative;
  margin-top: 20px;
}

.container {
  position: absolute;
  margin-top: -10px;
  background-color: green;
}